name: AutoPkg Recipe Runner

on:
  workflow_dispatch: # Allows manual triggering
  push:
    branches:
      - "**" # Runs on push to any branch
  # schedule:
  #     - cron: "0 0 * * *" # Runs daily at midnight UTC (optional)

jobs:
  run-autopkg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up AutoPkg
        run: |
          chmod +x setup.sh
          ./setup.sh

      - name: Set up JamfUploader
        run: |
          chmod +x setup-jamfuploader.sh
          ./setup-jamfuploader.sh \
            --jss-url "${{ secrets.JSS_URL }}" \
            --jss-user "${{ secrets.JSS_API_USER }}" \
            --jss-pass "${{ secrets.JSS_API_PW }}" \
            --github-token "${{ secrets.GH_TOKEN }}"

      - name: Run erase-install download recipe
        run: |
          chmod +x jamf-recipe-run.sh
          ./jamf-recipe-run.sh -vvv --recipe-list recipe-list.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: autopkg-cache
          path: ~/Library/AutoPkg/Cache/
          retention-days: 7
